body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../SAMKELO/dott.jpg');
    background-size: cover;
}

img {
    border-radius: 50%;
  }

header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #30fc07;
    padding: 20px 0;
}

header h1 {
    font-size: 3em;
    animation: moveText 2s infinite;
}

@keyframes moveText {
    0% {transform: translateX(0);}
    50% {transform: translateX(20px);}
    100% {transform: translateX(0);}
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    text-align: center;
}

section {
    margin-bottom: 40px;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    color: #fff;
    padding: 10px 0;
}

.animated-heading {
    animation: fadeIn 2s ease-out;
}

.animated-image {
    animation: slideIn 2s ease-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideIn {
    0% { transform: translateY(-50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
} 
.logo {
    display: block;
    margin: 0 auto; /* Center align the logo */
}

.rotate-in {
    transform: rotate(-180deg);
    animation: rotateIn 1s ease-in-out forwards;
}

@keyframes rotateIn {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(0);
    }
}